.container {
    padding: 0 1rem;
}

.btn {
    display: inline-block;
    border: none;
    background: rgb(75, 74, 74);
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}